body {
    /* background-color: #e8d1a5; */
    background: repeating-linear-gradient( 45deg, #e8d1a5 0px, #e8d1a5 5px, #E2C48D 6px, #E2C48D 11px, #e8d1a5 12px);
}

.header-color {
    color: #ab3334;
}
.header-shadow {
    text-shadow: -3px 3px 4px #d1bb92;
}

a {
    color: #ab3334 !important;
}
a:hover, a:focus {
    color: #33191a !important;
}

hr {
    background-color: #33191a !important;
}

.project-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0 !important;
}