body {
    background-color: #e8d1a5;
}

.header-color {
    color: #ab3334;
}
.header-shadow {
    text-shadow: -3px 3px 4px #d1bb92;
}

a {
    color: #ab3334 !important;
}
a:hover, a:focus {
    color: #33191a !important;
}

hr {
    background-color: #33191a !important;
}